<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookstore</title>
    <link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a asp-controller="Home" asp-action="Index"><img class="header__logo" src="~/img/header/Logo.jpg" alt="logo" /></a>
        <div class="form">
            <button class="form__button"><img class="from-button__img" src="~/img/header/search.svg"></button>
            <input class="form__input" type="search" placeholder="Поиск книг и колекций" />
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"> <a class="header__link" asp-action="Index" asp-controller="Home">Колекция</a></li>
                <li class="header__item"> <a class="header__link" asp-action="Basket" asp-controller="Home">Корзина</a></li>
                @*<li class="header__item"> <a class="header__link" href="#">FAQ</a></li>*@
                <li class="header__item"> <a class="header__link header__link_gradient" asp-action="Wallet" asp-controller="Home">Выбрать карту</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

